.places {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1023px) {
    .places {
        margin-top: 88px;
        padding-bottom: 90px;
    }

}

@media screen and (max-width: 767px) {
    .places {
        padding-top: 64px;
        padding-bottom: 66px;
    }

}