.intro__list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 690px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin-top: 33px;
    padding-left: 0px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .intro__list {
        margin-top: 34px;
    }
}