.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  color: white;
}

.footer__link:last-child{
  margin-right: 0;
}

.footer__link:hover{
  opacity: 50%;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
    max-width: 100%;
    margin-right: 0px;
  }

  .footer__link:last-of-type {
    margin-bottom: 0;
  }
}