.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 56px;
}

@media screen and (max-width: 1279px) {
    .lead__title {
        margin-top: 48px;
    }

}

@media screen and (max-width: 767px) {

    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}