.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
    align-items: stretch;
    justify-items: stretch;
    margin-bottom: 48px;
}


@media screen and (max-width: 767px) {
    .place__website {
        margin-left: 16px;
        margin-right: 16px;
    }

}